* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1d3557;
  height: 50px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

nav {
  max-width: 1300px;
  margin: 0 auto;
}

header img {
  width: 130px;
  padding: 5px;
}


h1 {
  font-family: 'Sarpanch', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #1d3557;
  font-size: 1.75em;
  text-align: center;
  max-width: 1200px;
}

.hero {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



footer {
  background-color: #1d3557;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

footer img {
  max-width: 200px;
  margin: 25px;
}

footer p {
  color: #A8DADC;
  font-family: 'Sarpanch', sans-serif;
  font-weight: 900;
  font-size: .75em;
  text-align: center;
}




/************************** STYLES FOR OUR-STORY.HTML **************************/
.story-hero {
  background: url('../img/our-story.jpg') center no-repeat;
  background-size: cover;
}

.mission {
  background-color: #1d3557;
  padding: 15% 5%;
  text-align: left;
}

.mission-cta {
  max-width: 900px;
  margin: 0 auto;
  padding-right: 10%;
}

.mission h2, .vision h2 {
  font-family: 'Sarpanch', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #f1faee;
  font-size: 1.5em;
}

.vision {
  background-color: #348EB8;
  padding: 15% 5%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.vision-cta {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 10%;
}

.mission p, .vision p {
  font-family: 'Raleway', sans-serif;
  color: #f1faee;
  font-size: 1em;
}

.story {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15% 5%;
}

.story h3 {
  color: #1d3557;
  font-family: 'Sarpanch', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

.story p {
  font-family: 'Raleway', sans-serif;
  color: #1d3557;
  font-size: 1em;
  margin: 25px 0;
  text-align: center;
}

.faq h4 {
  color: #1d3557;
  font-family: 'Sarpanch', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
  font-weight: 800;
}

.faq-accordion {
  margin: 5% auto;
  margin-bottom: 50px;
  max-width: 1000px;
}

.faq {
  margin-bottom: 50px;
}

.accordion-title {
    background-color: #348EB8;
    color: #F1FAEE;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-family: 'Sarpanch';
    font-weight: 800;
    font-size: .7em;
    border: none;
    outline: none;
    transition: .5s ease;
    margin: 2px 0;
}

.accordion-title img {
  display: none;
}

.active, .accordion-title:hover {
  background-color: #1d3557;
}

.accordion-answer {
  padding: 25px 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  font-family: 'Raleway';
  color: #1d3557;
}

/*Mobile Index Styles */

/* .home_body header ul{
  display: none;
} */

/* .home_hero {
 background: #A8DADC, 80%;
} */

.home_body p {
  font-family: 'Raleway', sans-serif;
}

.home_hero_image {
  background: url('../img/index_background.png') center no-repeat;
  background-size: cover;
  height: 572px;
  text-align: center;
}

.home_hero_image h1 {
  font-size: 2em;
  padding: 200px 0 19px;
  font-size: 22px;
  line-height: 24px;
}

.home_h1 {
  margin: 0 auto;
}
.home_hero_image p {
  font-size: 13px;
  color: #1D3557;
}

.join_link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Sarpanch', sans-serif;
  line-height: 30px;
}

.home_button {
  background: #348EB8;
  border-radius: 100px;
  width: 100px;
  height:30px;
  margin: 44px auto;
}

.global_leader{
  background: #348EB8;
  text-align: center;
}

.global_leader h2 {
  color: #F1FAEE;
  font-family: 'Sarpanch', sans-serif;
  font-size: 34px;
  padding: 60px 0 15px;
}

.global_leader p {
  color: #F1FAEE;
  font-size: 24px;
  padding-bottom: 50px;
}

.global_leader img {
  max-width: 40%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.home_article {
  background-color: white;
  text-align: center;
  color: #1d3557;
}

.home_article h3, .home_article h4 {
  color: #348EB8;
  font-size: 24px;
  padding-top: 50px;
  font-family: 'Sarpanch', sans-serif;

}

.home_article h4 {
  color:#1d3557;
  padding: 20px 0 20px;
}

.home_article p {
  margin: 0 5% 35px;
  text-align: left;
}

.update_one img, .update_two img, .update_three img {
  max-width: 90%;
}

.update_one img {
  padding: 40px 0 0;
}

.api_section {
  background-color: #A8DADC;
  color: #1d3557;
  font-family: 'Sarpanch', sans-serif;
  height: 700px;
  text-align: center;
}

.coast_watch, .address {
  font-size: 24px;
}

.address {
  padding: 20px 0 60px;
}

.coast_watch {
  padding: 55px 0 40px;
}

#apiOne {
  margin: 0 auto;
}

#apiOne iframe {
  transform: scale(1, 1);
}

#apiTwo iframe {
  transform: scale(1, 1);
}

#apiTwo {
  margin: 0 auto;
}

/* End Home Mobile Styles */

@media (min-width: 510px) {
  h1 {
    font-size: 2.25em;
    text-align: center;
    max-width: 400px;
  }
  
  .story p {
    text-align: left;
  }

  .accordion-title {
    font-size: .8em;
  }

  .accordion-title img {
    display: inline-block;
    width: 27px;
    float: right;
  } 

  .faq {
    margin-bottom: 75px;
  }

  /* Index Styles */
  .home_hero_image h1 {
    font-size: 2em;
    line-height: normal;
  }
  
  .home_hero_image p {
    font-size: 1.4em;
    padding: 0 5%;
  }

  .global_leader p {
    padding: 0 5% 50px;
  }

  .home_article h3 {
    font-size: 2em;
  }

.home_article p {
    font-size: 1.2em;
    margin: 0 auto 35px;
    text-align: left;
    width: 413px;
  }

  #apiOne iframe {
    transform: scale(1.5, 1.5);
  }

  #apiTwo iframe {
    transform: scale(1.5, 1.5);
  }

  .coast_watch {
    margin-bottom: 40px;
    font-size: 2em;
  }

  .address {
    margin: 45px 0 100px;
    padding: 0;
    font-size: 2em;
  }

  .api_section {
    padding-bottom: 150px;
  }

   /*End Index Styles */
}

@media (min-width: 795px) {
  h1 {
    font-size: 4em;
    text-align: center;
    max-width: 700px;
  }

  .mission h2, .vision h2 {
    font-size: 2.25em;
    margin-bottom: 25px;
  }

  .mission p, .vision p, .story p {
  font-size: 1.5em;
  }

  .mission, .vision, .story {
    padding: 175px 5%;
  }

  .faq h4 {
    font-size: 2em;
  }

  .accordion-title {
    font-size: 1.5em;
  }

  .accordion-title img {
    padding: 7px;
  } 

  .faq {
    margin-bottom: 175px;
  }

   /* Index Styles */
  .home_hero_image h1 {
    font-size: 2.5em;
  }   

  .home_hero_image p {
    max-width: 70%;
    margin: 0 auto;
  }

  .home_button {
    width: 150px;
    height: 50px;
  }

  .join_link {
    font-size: 22px;
    font-weight: 800;
    line-height: 50px;
  }
}

@media (min-width: 985px) {
  h1 {
    max-width: 1000px;
  }

}


/************************** STYLES FOR OUR-STORY.HTML **************************/



/************************** STYLES FOR DESKTOP NAV **************************/
@media (min-width: 1000px) {
nav {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header ul {
  margin: 0 5%;
}

header ul li {
  display: inline;
  margin: 0 15px;
}

header ul li a {
  color: #f1faee;
  text-decoration: none;
  font-family: 'Sarpanch', sans-serif;
  font-weight: 800;
}

header ul li a:hover {
  border-bottom: 3px solid #f1faee;
  transition: .1s;
}

a#cta-bttn {
    background: #f1faee;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 800;
    color: #1d3557;
    font-size: 1.5em;
    text-decoration: none;
    height: 30px;
    padding: 10px 25px;
    line-height: 1.15em;
  }

  a#cta-bttn:hover {
    background-color: #348EB8;
    color: #f1faee;
    transition: .1s;
  }
}

@media (min-width: 1200px) {
  header ul {
  margin: 0 10%;
  }

  header ul li {
  display: inline;
  margin: 0 25px;
}
}


/************************** STYLES FOR DESKTOP NAV END **********************/